body {
    background-color: #1c1c1c;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    background-color: #FFC107;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    margin: 10px;
    padding: 20px;
    color: #1c1c1c;
}
h2 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cccccc;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 40px 0px 40px;
}
.visible {
    background-color: #4c4c4c;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 44%;
    text-decoration: none;
    color: #FFC107;
}
.visible:hover {
    background-color: #5a5a5a;
}
.imagen {
    text-align: center;
    margin: 20px;
}
footer {
    text-align: center;
    background-color: #FFC107;
    padding: 20px;
    color: #1c1c1c;  /* Negro suave */
    font-size: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 5px solid #333333;
}
.oculto {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #FFC107;
}